#app-container {
    padding-top: 7em;
}

.form-group {
    color: black;
}

#inputForm{
    font-size: .875rem
}


.hidden {
    display: none;
}

#editor {
    min-height: 400px;
}

#errorDiv {
    color: red;
}

#successDiv {
    color: darkgreen;
}